# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
estore/dist
estore/tmp
estore/out-tsc
estore/bazel-out

# Node
estore/node_modules
estore/npm-debug.log
estore/yarn-error.log

# IDEs and editors
estore/.idea/
estore/.project
estore/.classpath
estore/.c9/
estore/*.launch
estore/.settings/
estore/*.sublime-workspace

# Visual Studio Code
estore/.vscode/*
!estore/.vscode/settings.json
!estore/.vscode/tasks.json
!estore/.vscode/launch.json
!estore/.vscode/extensions.json
estore/.history/*

# Miscellaneous
estore/.angular/cache
estore/.sass-cache/
estore/connect.lock
estore/coverage
estore/libpeerconnection.log
estore/testem.log
estore/typings

# System files
estore/.DS_Store
estore/Thumbs.db
